.contact-card {
    background-color: #f8f9fa;
    /* Light background */
    border: none;
  }

  .contact-icon {
    color: #0d95f0ff;
    /* Light blue for icons */
  }
  .mapouter {
              position: relative;
              text-align: right;
            }

            .gmap_canvas {
              overflow: hidden;
              background: none !important;
            }

            .gmap_canvas iframe {
              width: 100%;
              height: 100%;
            }

            .mapouter a {
              display: block;
              font-size: 0.85em;
              text-align: center;
              padding: 5px 0;
              color: #6c757d;
              text-decoration: none;
            }

            .gme-generated-link {
              display: none !important;
            }