.main-carousel .carousel-item {
        height: 80vh;
        min-height: 30vh;
    }

    .main-carousel img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    #previewThumbnail {
        width: 400px;
        height: 225px;
        /* 16:9 ratio to match main images */
        z-index: 10;
    }

    #previewThumbnail .preview-box {
        width: 100%;
        height: 100%;
        border: 6px solid #fff;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
    }

    #previewImg {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out; /* Slide + fade */
        transform: translateY(0); /* Default position */
        opacity: 1;
    }

    .container-relative {
        position: relative;
    }